<app-navbar></app-navbar>

<!-- Projects Cards -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-6 p-6">

    @if (status === 'loading') {
        <!-- Skeleton Cards -->
        @for (item of [1, 2, 3]; track $index) {
        <div class="bg-gray-200 rounded-xl shadow-md p-4 animate-pulse">
            <!-- Top Skeleton Row -->
            <div class="flex justify-between items-start mb-8">
                <div class="bg-gray-300 h-8 w-3/4 rounded"></div>
                <div class="bg-gray-300 h-8 w-4 rounded"></div>
            </div>

            <!-- Bottom Skeleton Row -->
            <div class="bg-gray-300 h-3 w-1/2 rounded mb-2"></div>
            <div class="bg-gray-300 h-4 w-6 rounded self-end ml-auto"></div>
        </div>
        }
    }

    @else {
        @for (item of projects; track $index) {
            <div class="relative group bg-linear-to-br from-violet-200 to-blue-200 rounded-xl shadow-md p-4 hover:bg-linear-to-br hover:from-violet-300 hover:scale-102 hover:to-blue-300 transition-all duration-300 cursor-pointer"
                (click)="openProject(item._id)" (keydown)="openProject(item._id)">

                <!-- Top Row: Title & Delete -->
                <div class="flex items-start justify-between mb-8">
                    <h2 class="text-xl font-semibold text-gray-800 truncate w-5/6">{{ item.name }}</h2>
                    <button (click)="deleteProject(item._id); $event.stopPropagation()"
                        class="text-red-400 hover:text-red-600 transition" title="Eliminar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM9 17h2V8H9zm4 0h2V8h-2z" />
                        </svg>
                    </button>
                </div>

                <!-- Bottom Row: Date & Open -->
                <div class="flex items-center justify-between mt-2">
                    <p class="text-md text-gray-500 w-5/6">{{ mapDate(item.createdAt.toString()) }}</p>

                    <div class="absolute bottom-2 right-4">
                        <button (click)="openProject(item._id); $event.stopPropagation()"
                            class="text-violet-500 hover:text-violet-700 transition" title="Open Project">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 16 9">
                                <path fill="currentColor"
                                    d="M12.5 5h-9c-.28 0-.5-.22-.5-.5s.22-.5.5-.5h9c.28 0 .5.22.5.5s-.22.5-.5.5" />
                                <path fill="currentColor"
                                    d="M10 8.5a.47.47 0 0 1-.35-.15c-.2-.2-.2-.51 0-.71l3.15-3.15l-3.15-3.15c-.2-.2-.2-.51 0-.71s.51-.2.71 0l3.5 3.5c.2.2.2.51 0 .71l-3.5 3.5c-.1.1-.23.15-.35.15Z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        }
    }
</div>